html {
  -webkit-text-size-adjust: 100%;
  padding-bottom: 4em;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5em;
  max-width: 40em;
  padding: 0 2%;
  margin: auto;
  color: #000;
  background: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 0.75em;
  margin: 0.65625em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0.65625em 0;
}

pre {
  font-size: 1em;
  white-space: pre;
  margin-top: 1.9375em;
  margin-bottom: 0.9375em;
  margin-left: 0;
  margin-right: 0;
  font-family: Monospace;
}

a {
  color: #0033cc;
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

div.example {
  background: #ffffff;
  overflow: auto;
  width: auto;
  border: solid;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  padding: 0.2em 0.6em;
}

div.example pre {
  margin: 0;
  line-height: 125%;
}

@media screen and (max-width: 37.5em) {
  .banner {
    display: none !important;
  }
  .banner-mb {
    display: inline-block !important;
  }
}

@media screen and (min-width: 37.6em) {
  .banner {
    display: inline-block !important;
  }

  .banner-mb {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  body a {
    color: #809fff;
  }

  div.example {
    background-color: #121212;
    color: #ffffff;
  }

  div.example pre {
    font-size: 0.8125em;
  }
}
